.main-layout {
    -fx-background-color: #ffffff;
    -fx-background-image: url("../images/decepticon-background.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: "Consolas";
}

.header-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.message-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.dialog-text {
    -fx-background-color: #e7f3ff;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-text-fill: #333333;
}

.megatron-dialog .dialog-text {
    -fx-background-color: #eeeeee;
}

.avatar-container {
    -fx-alignment: center;
    -fx-background-radius: 12px;
    -fx-padding: 6px;
}

.user-avatar-container {
    -fx-background-color: rgba(78, 166, 255, 0.48);
}

.megatron-avatar-container {
    -fx-background-color: rgba(255, 78, 78, 0.48);
}

.command-input {
    -fx-background-radius: 4px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4px;
    -fx-padding: 7px;
}

.send-button {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 4px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4px;
    -fx-text-fill: #333333;
}

.send-button:hover {
    -fx-background-color: #dddddd;
}
